.content {
    flex: 1;
    padding: 20px;
}

.main-content {
    background-color: #f4f4f4;
    padding: 20px;
}

.custom-header,
.custom-icon-trash {
    font-size: 1.2em;
}

.custom-icon-trash {
    color: #ff0000;
    cursor: pointer;
}
