.wrapper {
    display: flex;
    transition: margin 0.3s ease-in-out;
}

.sidebar {
    width: 200px; /* Set the default width */
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: width 0.3s ease-in-out; /* Add a transition for a smoother effect */
}

.sidebar-hidden {
    width: 0; /* Set the width to 0 when hidden */
    overflow: hidden; /* Hide the content when width is 0 */
}

.sidebar-open {
    margin-left: 200px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a,
.custom-nav-a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0;
    display: block;
    transition: color 0.3s ease-in-out;
}

.sidebar a:hover,
.custom-toggleSidebar:hover,
.custom-nav-a:hover {
    color: #ffcc00;
}
