.showMore {
    text-align: center;
}

.slider__Introduction {
    display: flex;
    flex-direction: row;
    width: 100%;
    // background-color: #f8f9fd;
}

// .product__Container {
//     background-color: #fcf3e8;
// }

.advise__container {
    background-color: pink;
    margin-bottom: 4%;
    width: 30%;
}
