.carousel__container {
    // width: 70%;
    margin-bottom: 4%;
}

.carousel-control-prev,
.carousel-control-next {
    justify-content: center;
    align-items: center;
}

.carousel__image {
    padding: 0.5em;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}
