@use "sass:map";
@import "../../style/pages/theme.scss";

.custom-card {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 0.5em;
    user-select: none;
}

.product__link {
    text-decoration: none;
    color: map.get($theme-colors, txtden);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-image {
    height: 5em;
    object-fit: contain;
    background-color: black;
}

.custom-food {
    flex-wrap: wrap;
}

.custom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-counter {
    align-items: center;
}

.custom-trash {
    text-align: center;
    font-size: 1.5em;
}

.icon-trash {
    color: map.get($theme-colors, danger);
    cursor: pointer;
}
