.custom-toggleSidebar {
    color: #fff;
    cursor: pointer;
}

.toggleSidebar-icon {
    font-size: 3em;
}

.navbar {
    background-color: #444;
    padding: 10px;
}

.custom-nav-a:last-child {
    padding-right: 10px;
}

.custom-toggleSidebar:hover {
    color: #ffcc00;
}

.custom-title {
    padding: 0 0 0 15px;
}
