.item-suggest {
    color: inherit;
    text-decoration: inherit;
    justify-content: center;
    background-color: azure;
    margin: 5px;
}

@media only screen and (min-width: 769px) {
}

.quick_access_container,
.item-suggest__image {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
}

.quick_access_container,
.item-suggest {
    text-align: center;
    flex-direction: wrap;
    cursor: pointer;
    padding: 6px 11px;
    max-height: 114px;
}

.quick_access_container,
.item-suggest__text {
    /* margin-top: 4px; */
    max-width: 96%;
}

.item-suggest__image,
.item-suggest__text {
    flex: 1;
}
