@use "sass:map";
@import "../../../style/pages/theme.scss";

.custom-container {
    background-color: map.get($theme-colors, nensp);
}

.custom-cart-container {
    margin: auto;
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    @media (max-width: 767px) {
        width: 100%;
    }

    @media (min-width: 768px) {
        max-width: 60%;
    }
}
