// common theme styles
// đặt tên biến
$theme-colors: (
  primary: #c7dafe,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40,
  header: #3175e4,
  btn: #225fe0,
  txt: #fff,
  txtxam: gray,
  txtden: #000,
  nen: #edf0f3,
  nensp: #edf0f3
);
