@use "sass:map";
@import "../../../../style/pages/theme.scss";
.container__nav {
    background-color: map.get($theme-colors, header);
}

.brand {
    color: map.get($theme-colors, text);
    width: 12%;
}

.brand__logo {
    // Kích thước mặc định cho logo
    width: 100%;
    object-fit: contain;

    // Sử dụng media query để thay đổi kích thước ở màn hình nhỏ
    @media (max-width: 768px) {
        min-width: 4em; // Đặt kích thước mong muốn cho màn hình nhỏ
    }
}

.brand:hover {
    color: map.get($theme-colors, text);
}

#navbarScroll {
    justify-content: flex-end;
}

.form__container {
    background-color: #fff;
    width: 50%;
    margin: auto;
}

.form__search {
    border: none;
}

.form__search:focus {
    outline: none;
    box-shadow: none;
}

.btn__search {
    border: none;
    font-size: revert;
    background-color: map.get($theme-colors, button);
    color: #fff;
}

.btn__search:hover {
    outline: none;
    background-color: map.get($theme-colors, button);
    color: #fff;
}

.icon__search {
    color: #000;
}

.btn {
    border: none;
    display: flex;
    flex-direction: row;
}

.icon__login,
.icon__cart,
.icon__manager {
    align-items: center;
    background-color: transparent;
    border: none;
}

.icon__login:active,
.icon__cart:active,
.icon__manager:active {
    background-color: transparent;
    outline: none;
}

.icon__login:focus,
.icon__cart:focus,
.icon__manager:focus {
    background-color: transparent;
    outline: none;
}

.icon__login:hover,
.icon__cart:hover,
.icon__manager:hover {
    background-color: transparent;
    outline: none;
}
